[user]
	email = daniele.cosio99@gmail.com
	name = daniele.cosio
	signingkey = 577D02FF8566E7F2
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
